{
    "parser": "@typescript-eslint/parser",
    "extends" : [
        "eslint-config-prettier"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "overrides": [
        {
            "files" : [
                "**/*.test.ts"
            ],
            "env" : {
                "jest" : true
            }

        }
    ],
    "rules": {
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline" : {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter" : "semi",
                    "requireLast" : false
                }
            }
        ],
        "@typescript-eslint/no-unused-vars": "error",
        "eol-last" : ["error","always"],
        "import/extentions": "off",
        "lit/no-useless-template-literals": "off",
        "max-len": [
            "error",
            {
                "code" : 120
            }
        ],
        "no-return-assign": "off",
        "quotes" : ["error", "single"],
        "semi" : ["error", "always"]
    }
}